{{ define "title" }}
  {{ .Title }} 🍄
{{ end }}

{{ define "links" }}
	{{ $style := resources.Get "css/home.css" | toCSS | minify | fingerprint }}
	<link type="text/css" rel="stylesheet" href="{{ $style.Permalink }}">
{{ end }}

{{ define "main" }}

{{ $js := resources.Get "js/flow.js" }}
  <div id="app" ></div>
  <script type="module" src="{{ $js.RelPermalink }}"></script>
  <button style="font-size:16px;z-index:9;position:relative;bottom:20px;left:50%"><a id="first-content" style="color:#bbb" href="#first-content">↯</a></button>
</div>


{{ .Content }}

<div class="container parent-link" style="display:flex; flex-direction: row; justify-content: space-around; margin-top: 20px;">
	{{ if ne .Lang "en"}}
    <!-- TODO -->
		<a href="https://github.com/ziglang/www.ziglang.org/" class="external-link no-mobile" target="_blank" rel="noopener">
		This translation has been contributed by the Dreamorganism community
		</a>
	{{ end }}
</div>
<div class="container" style="text-align: center; padding-top: 2em;">
  <small><em>Reality itself is not a concept</em></small>
</div>
{{ end }}

